// Футер

.footer
	min-height 426px
	background url('../images/footer-bg.jpg') no-repeat 50% / cover
	color white
	&__in
		width 1120px
		margin 0 auto
		padding-top 35px
		clearfix()
	&__contact
		margin-top 15px
		float left
	&__subheading
		font-size 19px
		margin-bottom 2px
		&_yellow
			color #ffd766	
	&__phone
		font-size 34px
		calibri700()
		margin-bottom 20px
		color #ffd766
		display block
	&__address
		font-size 24px
		margin-bottom 20px
		calibri700()
	&__mail
		font-size 21px
		text-decoration underline
	&__skype
		font-size 21px
		margin-bottom 20px
	&__apply
		border 1px solid white
		width 255px
		height 52px
		line-height 52px
		text-align center
		font-size 20px
		display block
		color white
		transition 0.4s all
		&:hover
			background white
			color black	
	&__made-by
		color white
		padding-bottom 4px
		border-bottom 1px solid white
		margin-top 55px
		display inline-block
		opacity 0.22
		transition all 0.4s
		&:hover
			opacity 1					