/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_black_left_name = 'arrow-black-left';
$arrow_black_left_x = 499px;
$arrow_black_left_y = 179px;
$arrow_black_left_offset_x = -499px;
$arrow_black_left_offset_y = -179px;
$arrow_black_left_width = 8px;
$arrow_black_left_height = 14px;
$arrow_black_left_total_width = 605px;
$arrow_black_left_total_height = 534px;
$arrow_black_left_image = '../images/sprites/sprites.png';
$arrow_black_left = 499px 179px -499px -179px 8px 14px 605px 534px '../images/sprites/sprites.png' 'arrow-black-left';
$arrow_black_right_name = 'arrow-black-right';
$arrow_black_right_x = 597px;
$arrow_black_right_y = 150px;
$arrow_black_right_offset_x = -597px;
$arrow_black_right_offset_y = -150px;
$arrow_black_right_width = 8px;
$arrow_black_right_height = 14px;
$arrow_black_right_total_width = 605px;
$arrow_black_right_total_height = 534px;
$arrow_black_right_image = '../images/sprites/sprites.png';
$arrow_black_right = 597px 150px -597px -150px 8px 14px 605px 534px '../images/sprites/sprites.png' 'arrow-black-right';
$arrow_left_name = 'arrow-left';
$arrow_left_x = 499px;
$arrow_left_y = 169px;
$arrow_left_offset_x = -499px;
$arrow_left_offset_y = -169px;
$arrow_left_width = 40px;
$arrow_left_height = 10px;
$arrow_left_total_width = 605px;
$arrow_left_total_height = 534px;
$arrow_left_image = '../images/sprites/sprites.png';
$arrow_left = 499px 169px -499px -169px 40px 10px 605px 534px '../images/sprites/sprites.png' 'arrow-left';
$arrow_right_name = 'arrow-right';
$arrow_right_x = 539px;
$arrow_right_y = 169px;
$arrow_right_offset_x = -539px;
$arrow_right_offset_y = -169px;
$arrow_right_width = 41px;
$arrow_right_height = 9px;
$arrow_right_total_width = 605px;
$arrow_right_total_height = 534px;
$arrow_right_image = '../images/sprites/sprites.png';
$arrow_right = 539px 169px -539px -169px 41px 9px 605px 534px '../images/sprites/sprites.png' 'arrow-right';
$border_bottom_right_name = 'border-bottom-right';
$border_bottom_right_x = 468px;
$border_bottom_right_y = 169px;
$border_bottom_right_offset_x = -468px;
$border_bottom_right_offset_y = -169px;
$border_bottom_right_width = 31px;
$border_bottom_right_height = 30px;
$border_bottom_right_total_width = 605px;
$border_bottom_right_total_height = 534px;
$border_bottom_right_image = '../images/sprites/sprites.png';
$border_bottom_right = 468px 169px -468px -169px 31px 30px 605px 534px '../images/sprites/sprites.png' 'border-bottom-right';
$border_top_left_name = 'border-top-left';
$border_top_left_x = 438px;
$border_top_left_y = 169px;
$border_top_left_offset_x = -438px;
$border_top_left_offset_y = -169px;
$border_top_left_width = 30px;
$border_top_left_height = 31px;
$border_top_left_total_width = 605px;
$border_top_left_total_height = 534px;
$border_top_left_image = '../images/sprites/sprites.png';
$border_top_left = 438px 169px -438px -169px 30px 31px 605px 534px '../images/sprites/sprites.png' 'border-top-left';
$choose_name = 'choose';
$choose_x = 0px;
$choose_y = 493px;
$choose_offset_x = 0px;
$choose_offset_y = -493px;
$choose_width = 178px;
$choose_height = 41px;
$choose_total_width = 605px;
$choose_total_height = 534px;
$choose_image = '../images/sprites/sprites.png';
$choose = 0px 493px 0px -493px 178px 41px 605px 534px '../images/sprites/sprites.png' 'choose';
$info_name = 'info';
$info_x = 581px;
$info_y = 150px;
$info_offset_x = -581px;
$info_offset_y = -150px;
$info_width = 16px;
$info_height = 16px;
$info_total_width = 605px;
$info_total_height = 534px;
$info_image = '../images/sprites/sprites.png';
$info = 581px 150px -581px -150px 16px 16px 605px 534px '../images/sprites/sprites.png' 'info';
$korte_img1_small_name = 'korte-img1-small';
$korte_img1_small_x = 438px;
$korte_img1_small_y = 0px;
$korte_img1_small_offset_x = -438px;
$korte_img1_small_offset_y = 0px;
$korte_img1_small_width = 167px;
$korte_img1_small_height = 130px;
$korte_img1_small_total_width = 605px;
$korte_img1_small_total_height = 534px;
$korte_img1_small_image = '../images/sprites/sprites.png';
$korte_img1_small = 438px 0px -438px 0px 167px 130px 605px 534px '../images/sprites/sprites.png' 'korte-img1-small';
$korte_img2_small_name = 'korte-img2-small';
$korte_img2_small_x = 271px;
$korte_img2_small_y = 260px;
$korte_img2_small_offset_x = -271px;
$korte_img2_small_offset_y = -260px;
$korte_img2_small_width = 167px;
$korte_img2_small_height = 130px;
$korte_img2_small_total_width = 605px;
$korte_img2_small_total_height = 534px;
$korte_img2_small_image = '../images/sprites/sprites.png';
$korte_img2_small = 271px 260px -271px -260px 167px 130px 605px 534px '../images/sprites/sprites.png' 'korte-img2-small';
$korte_img3_small_name = 'korte-img3-small';
$korte_img3_small_x = 271px;
$korte_img3_small_y = 130px;
$korte_img3_small_offset_x = -271px;
$korte_img3_small_offset_y = -130px;
$korte_img3_small_width = 167px;
$korte_img3_small_height = 130px;
$korte_img3_small_total_width = 605px;
$korte_img3_small_total_height = 534px;
$korte_img3_small_image = '../images/sprites/sprites.png';
$korte_img3_small = 271px 130px -271px -130px 167px 130px 605px 534px '../images/sprites/sprites.png' 'korte-img3-small';
$korte_img4_small_name = 'korte-img4-small';
$korte_img4_small_x = 271px;
$korte_img4_small_y = 0px;
$korte_img4_small_offset_x = -271px;
$korte_img4_small_offset_y = 0px;
$korte_img4_small_width = 167px;
$korte_img4_small_height = 130px;
$korte_img4_small_total_width = 605px;
$korte_img4_small_total_height = 534px;
$korte_img4_small_image = '../images/sprites/sprites.png';
$korte_img4_small = 271px 0px -271px 0px 167px 130px 605px 534px '../images/sprites/sprites.png' 'korte-img4-small';
$logo_large_name = 'logo-large';
$logo_large_x = 0px;
$logo_large_y = 0px;
$logo_large_offset_x = 0px;
$logo_large_offset_y = 0px;
$logo_large_width = 271px;
$logo_large_height = 493px;
$logo_large_total_width = 605px;
$logo_large_total_height = 534px;
$logo_large_image = '../images/sprites/sprites.png';
$logo_large = 0px 0px 0px 0px 271px 493px 605px 534px '../images/sprites/sprites.png' 'logo-large';
$logo_name = 'logo';
$logo_x = 438px;
$logo_y = 130px;
$logo_offset_x = -438px;
$logo_offset_y = -130px;
$logo_width = 143px;
$logo_height = 39px;
$logo_total_width = 605px;
$logo_total_height = 534px;
$logo_image = '../images/sprites/sprites.png';
$logo = 438px 130px -438px -130px 143px 39px 605px 534px '../images/sprites/sprites.png' 'logo';
$popup_close_name = 'popup-close';
$popup_close_x = 581px;
$popup_close_y = 130px;
$popup_close_offset_x = -581px;
$popup_close_offset_y = -130px;
$popup_close_width = 20px;
$popup_close_height = 20px;
$popup_close_total_width = 605px;
$popup_close_total_height = 534px;
$popup_close_image = '../images/sprites/sprites.png';
$popup_close = 581px 130px -581px -130px 20px 20px 605px 534px '../images/sprites/sprites.png' 'popup-close';
$spritesheet_width = 605px;
$spritesheet_height = 534px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $arrow_black_left $arrow_black_right $arrow_left $arrow_right $border_bottom_right $border_top_left $choose $info $korte_img1_small $korte_img2_small $korte_img3_small $korte_img4_small $logo_large $logo $popup_close;
$spritesheet = 605px 534px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
