/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_black_left_name = 'arrow-black-left';
$arrow_black_left_x = 678px;
$arrow_black_left_y = 144px;
$arrow_black_left_offset_x = -678px;
$arrow_black_left_offset_y = -144px;
$arrow_black_left_width = 8px;
$arrow_black_left_height = 14px;
$arrow_black_left_total_width = 693px;
$arrow_black_left_total_height = 534px;
$arrow_black_left_image = '../images/sprites/sprites.png';
$arrow_black_left = 678px 144px -678px -144px 8px 14px 693px 534px '../images/sprites/sprites.png' 'arrow-black-left';
$arrow_black_right_name = 'arrow-black-right';
$arrow_black_right_x = 678px;
$arrow_black_right_y = 130px;
$arrow_black_right_offset_x = -678px;
$arrow_black_right_offset_y = -130px;
$arrow_black_right_width = 8px;
$arrow_black_right_height = 14px;
$arrow_black_right_total_width = 693px;
$arrow_black_right_total_height = 534px;
$arrow_black_right_image = '../images/sprites/sprites.png';
$arrow_black_right = 678px 130px -678px -130px 8px 14px 693px 534px '../images/sprites/sprites.png' 'arrow-black-right';
$arrow_left_name = 'arrow-left';
$arrow_left_x = 631px;
$arrow_left_y = 160px;
$arrow_left_offset_x = -631px;
$arrow_left_offset_y = -160px;
$arrow_left_width = 40px;
$arrow_left_height = 10px;
$arrow_left_total_width = 693px;
$arrow_left_total_height = 534px;
$arrow_left_image = '../images/sprites/sprites.png';
$arrow_left = 631px 160px -631px -160px 40px 10px 693px 534px '../images/sprites/sprites.png' 'arrow-left';
$arrow_right_name = 'arrow-right';
$arrow_right_x = 651px;
$arrow_right_y = 170px;
$arrow_right_offset_x = -651px;
$arrow_right_offset_y = -170px;
$arrow_right_width = 41px;
$arrow_right_height = 9px;
$arrow_right_total_width = 693px;
$arrow_right_total_height = 534px;
$arrow_right_image = '../images/sprites/sprites.png';
$arrow_right = 651px 170px -651px -170px 41px 9px 693px 534px '../images/sprites/sprites.png' 'arrow-right';
$border_bottom_right_name = 'border-bottom-right';
$border_bottom_right_x = 600px;
$border_bottom_right_y = 160px;
$border_bottom_right_offset_x = -600px;
$border_bottom_right_offset_y = -160px;
$border_bottom_right_width = 31px;
$border_bottom_right_height = 30px;
$border_bottom_right_total_width = 693px;
$border_bottom_right_total_height = 534px;
$border_bottom_right_image = '../images/sprites/sprites.png';
$border_bottom_right = 600px 160px -600px -160px 31px 30px 693px 534px '../images/sprites/sprites.png' 'border-bottom-right';
$border_top_left_name = 'border-top-left';
$border_top_left_x = 570px;
$border_top_left_y = 160px;
$border_top_left_offset_x = -570px;
$border_top_left_offset_y = -160px;
$border_top_left_width = 30px;
$border_top_left_height = 31px;
$border_top_left_total_width = 693px;
$border_top_left_total_height = 534px;
$border_top_left_image = '../images/sprites/sprites.png';
$border_top_left = 570px 160px -570px -160px 30px 31px 693px 534px '../images/sprites/sprites.png' 'border-top-left';
$choose_name = 'choose';
$choose_x = 0px;
$choose_y = 493px;
$choose_offset_x = 0px;
$choose_offset_y = -493px;
$choose_width = 178px;
$choose_height = 41px;
$choose_total_width = 693px;
$choose_total_height = 534px;
$choose_image = '../images/sprites/sprites.png';
$choose = 0px 493px 0px -493px 178px 41px 693px 534px '../images/sprites/sprites.png' 'choose';
$fancybox_overlay_name = 'fancybox_overlay';
$fancybox_overlay_x = 671px;
$fancybox_overlay_y = 160px;
$fancybox_overlay_offset_x = -671px;
$fancybox_overlay_offset_y = -160px;
$fancybox_overlay_width = 10px;
$fancybox_overlay_height = 10px;
$fancybox_overlay_total_width = 693px;
$fancybox_overlay_total_height = 534px;
$fancybox_overlay_image = '../images/sprites/sprites.png';
$fancybox_overlay = 671px 160px -671px -160px 10px 10px 693px 534px '../images/sprites/sprites.png' 'fancybox_overlay';
$fancybox_sprite_name = 'fancybox_sprite';
$fancybox_sprite_x = 526px;
$fancybox_sprite_y = 130px;
$fancybox_sprite_offset_x = -526px;
$fancybox_sprite_offset_y = -130px;
$fancybox_sprite_width = 44px;
$fancybox_sprite_height = 152px;
$fancybox_sprite_total_width = 693px;
$fancybox_sprite_total_height = 534px;
$fancybox_sprite_image = '../images/sprites/sprites.png';
$fancybox_sprite = 526px 130px -526px -130px 44px 152px 693px 534px '../images/sprites/sprites.png' 'fancybox_sprite';
$fancybox_sprite_2x_name = 'fancybox_sprite@2x';
$fancybox_sprite_2x_x = 271px;
$fancybox_sprite_2x_y = 0px;
$fancybox_sprite_2x_offset_x = -271px;
$fancybox_sprite_2x_offset_y = 0px;
$fancybox_sprite_2x_width = 88px;
$fancybox_sprite_2x_height = 304px;
$fancybox_sprite_2x_total_width = 693px;
$fancybox_sprite_2x_total_height = 534px;
$fancybox_sprite_2x_image = '../images/sprites/sprites.png';
$fancybox_sprite_2x = 271px 0px -271px 0px 88px 304px 693px 534px '../images/sprites/sprites.png' 'fancybox_sprite@2x';
$info_name = 'info';
$info_x = 570px;
$info_y = 191px;
$info_offset_x = -570px;
$info_offset_y = -191px;
$info_width = 16px;
$info_height = 16px;
$info_total_width = 693px;
$info_total_height = 534px;
$info_image = '../images/sprites/sprites.png';
$info = 570px 191px -570px -191px 16px 16px 693px 534px '../images/sprites/sprites.png' 'info';
$korte_img1_small_name = 'korte-img1-small';
$korte_img1_small_x = 359px;
$korte_img1_small_y = 130px;
$korte_img1_small_offset_x = -359px;
$korte_img1_small_offset_y = -130px;
$korte_img1_small_width = 167px;
$korte_img1_small_height = 130px;
$korte_img1_small_total_width = 693px;
$korte_img1_small_total_height = 534px;
$korte_img1_small_image = '../images/sprites/sprites.png';
$korte_img1_small = 359px 130px -359px -130px 167px 130px 693px 534px '../images/sprites/sprites.png' 'korte-img1-small';
$korte_img2_small_name = 'korte-img2-small';
$korte_img2_small_x = 359px;
$korte_img2_small_y = 0px;
$korte_img2_small_offset_x = -359px;
$korte_img2_small_offset_y = 0px;
$korte_img2_small_width = 167px;
$korte_img2_small_height = 130px;
$korte_img2_small_total_width = 693px;
$korte_img2_small_total_height = 534px;
$korte_img2_small_image = '../images/sprites/sprites.png';
$korte_img2_small = 359px 0px -359px 0px 167px 130px 693px 534px '../images/sprites/sprites.png' 'korte-img2-small';
$korte_img3_small_name = 'korte-img3-small';
$korte_img3_small_x = 526px;
$korte_img3_small_y = 0px;
$korte_img3_small_offset_x = -526px;
$korte_img3_small_offset_y = 0px;
$korte_img3_small_width = 167px;
$korte_img3_small_height = 130px;
$korte_img3_small_total_width = 693px;
$korte_img3_small_total_height = 534px;
$korte_img3_small_image = '../images/sprites/sprites.png';
$korte_img3_small = 526px 0px -526px 0px 167px 130px 693px 534px '../images/sprites/sprites.png' 'korte-img3-small';
$korte_img4_small_name = 'korte-img4-small';
$korte_img4_small_x = 359px;
$korte_img4_small_y = 260px;
$korte_img4_small_offset_x = -359px;
$korte_img4_small_offset_y = -260px;
$korte_img4_small_width = 167px;
$korte_img4_small_height = 130px;
$korte_img4_small_total_width = 693px;
$korte_img4_small_total_height = 534px;
$korte_img4_small_image = '../images/sprites/sprites.png';
$korte_img4_small = 359px 260px -359px -260px 167px 130px 693px 534px '../images/sprites/sprites.png' 'korte-img4-small';
$logo_large_name = 'logo-large';
$logo_large_x = 0px;
$logo_large_y = 0px;
$logo_large_offset_x = 0px;
$logo_large_offset_y = 0px;
$logo_large_width = 271px;
$logo_large_height = 493px;
$logo_large_total_width = 693px;
$logo_large_total_height = 534px;
$logo_large_image = '../images/sprites/sprites.png';
$logo_large = 0px 0px 0px 0px 271px 493px 693px 534px '../images/sprites/sprites.png' 'logo-large';
$logo_small_name = 'logo-small';
$logo_small_x = 570px;
$logo_small_y = 130px;
$logo_small_offset_x = -570px;
$logo_small_offset_y = -130px;
$logo_small_width = 108px;
$logo_small_height = 30px;
$logo_small_total_width = 693px;
$logo_small_total_height = 534px;
$logo_small_image = '../images/sprites/sprites.png';
$logo_small = 570px 130px -570px -130px 108px 30px 693px 534px '../images/sprites/sprites.png' 'logo-small';
$logo_name = 'logo';
$logo_x = 526px;
$logo_y = 282px;
$logo_offset_x = -526px;
$logo_offset_y = -282px;
$logo_width = 143px;
$logo_height = 39px;
$logo_total_width = 693px;
$logo_total_height = 534px;
$logo_image = '../images/sprites/sprites.png';
$logo = 526px 282px -526px -282px 143px 39px 693px 534px '../images/sprites/sprites.png' 'logo';
$popup_close_name = 'popup-close';
$popup_close_x = 631px;
$popup_close_y = 170px;
$popup_close_offset_x = -631px;
$popup_close_offset_y = -170px;
$popup_close_width = 20px;
$popup_close_height = 20px;
$popup_close_total_width = 693px;
$popup_close_total_height = 534px;
$popup_close_image = '../images/sprites/sprites.png';
$popup_close = 631px 170px -631px -170px 20px 20px 693px 534px '../images/sprites/sprites.png' 'popup-close';
$spritesheet_width = 693px;
$spritesheet_height = 534px;
$spritesheet_image = '../images/sprites/sprites.png';
$spritesheet_sprites = $arrow_black_left $arrow_black_right $arrow_left $arrow_right $border_bottom_right $border_top_left $choose $fancybox_overlay $fancybox_sprite $fancybox_sprite_2x $info $korte_img1_small $korte_img2_small $korte_img3_small $korte_img4_small $logo_large $logo_small $logo $popup_close;
$spritesheet = 693px 534px '../images/sprites/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
